<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row mt-3 mb-3">
            <div class="col-8 offset-2">
                <form action="/listings" method="post" class="form-card needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" placeholder="Enter title" name="listing[title]" class="input form-control" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a valid title for your listing.</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="Enter description" class="textarea form-control"
                            required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please provide a valid description for your listing.</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Image (Link/URL)</label>
                        <input name="listing[image]" placeholder="Enter image (link/url)" class="input form-control"></input>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" placeholder="Enter price" name="listing[price]" class="input form-control"
                                required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please enter a valid price amount.</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" placeholder="Enter location" name="listing[location]" class="input form-control"
                                required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please specify a valid location.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" placeholder="Enter country" name="listing[country]" class="input form-control"
                            required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please mention a valid country name.</div>
                    </div>
                    <button type="submit" class="btn btn-outline-danger rounded-pill px-4 py-2">Add</button>
                </form>
            </div>
        </div>
    </body>