<nav class="navbar navbar-expand-md bg-body-light border sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listing</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
      </div>
      <div class="dropdown ms-auto">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <% if (!currentUser) { %>
            <li><a class="dropdown-item" href="/user/signup">Sign Up</a></li>
            <li><a class="dropdown-item" href="/user/login">Login</a></li>
          <% } else { %>
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>